<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="listar-alunos" slot="start"></ion-back-button>
    <ion-title>Editar Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-item class="padding-start padding">
    <ion-input [(ngModel)]="nome" label="Nome:" label-placement="floating" value={{aluno.nome}}></ion-input>
  </ion-item>

  <ion-radio-group [(ngModel)]="sexo">
    
    <ion-item>
      <ion-label>Sexo: </ion-label>
    </ion-item>

    <ion-item>
      <ion-item slot="start">
        <ion-label for="masculino">Masculino</ion-label>
        <ion-radio id="masculino" color="dark" value="Masculino" slot="start" aria-label="masculino"></ion-radio>
      </ion-item>

      <ion-item slot="end">
        <ion-label slot="end">Feminino</ion-label>
        <ion-radio color="dark" value="Feminino" slot="end" aria-label="feminino"></ion-radio>
      </ion-item>

    </ion-item>

  </ion-radio-group>

  <ion-item>
    <ion-input [(ngModel)]="telefone" label="Telefone" label-placement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="matricula" label="Matrícula" label-placement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select [(ngModel)]="cursos" [multiple]="true" label="Cursos TI" label-placement="floating" aria-label="Cursos TI">
      <ion-select-option value="PHP">PHP</ion-select-option>
      <ion-select-option value="C#">C#</ion-select-option>
      <ion-select-option value="Angular">Angular</ion-select-option>
      <ion-select-option value="Java">Java</ion-select-option>
      <ion-select-option value="Python">Python</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="bilingue" [checked]="false" >Bilíngue?</ion-toggle>
  </ion-item>


  <ion-button expand="full" color="success" class="padding padding-start" (click)="editar()">
    <ion-icon name="add-circle-outline"></ion-icon>
    Editar
  </ion-button>

</ion-content>
