<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Q-Acadêmico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-list>

      <ion-item class="padding padding-start" routerLink="/listar-alunos" detail>
        Alunos
      </ion-item>

    </ion-list>

  </div>
</ion-content>
